.body-container{
    display: flex;
    box-sizing: border-box;
    display: block;
    list-style: none;
}
.story{
    display: flex;
    font-size: 14px;
    padding: 0 16px;
    min-height: 40px;
    flex-wrap: wrap;
    align-items: center;
    margin: 4px 0;
    color: #000;
    font-family: Verdana,Geneva,sans-serif;
}
.container{
    box-sizing: border-box;
    display: block;
}
.head-container{
    position: relative;
    background: #f6f6ef;
    min-height: calc(100vh - 120px);
}