.news-table-header{
    display: flex;
    background-color: #ff742b;
    color:white;
    font-weight: bold;
    font-family: monospace;
    box-sizing: border-box;
    font-family: Verdana,Geneva,sans-serif;
    height: auto;
    list-style:none ;
    padding:5px;
    padding: 0px;
    margin: 0px;
}
.li1{
    background-color: transparent;
    padding:20px;
    font-family: Verdana,Geneva,sans-serif;
}
.li2{
    padding:4px
}
.li3{
    padding:20px
}
.li4{
    padding:18px
}
