.storyContainer{
    display: flex;
    /* font-size: 16px; */
    /* min-height: 40px; */
    /* align-items: center; */
    color: #000;
    padding: 0px 0px 0px 22px;
    list-style: none;
    font-family: Verdana,Geneva,sans-serif;
}
.innerTxt{
    color: #828282;
    font-size: 13px;
    font-weight: 800;
    /* transition: color .1s linear;
    word-break: break-all;
    text-decoration: none;
    background-color: transparent; */
}
.CommentCount{
    /* width: 4%;
    position: relative;
    margin-bottom: 4px;
    font-size: 14px;*/
    width: 80px;
    padding: 16px;
}
.votes{
    /* width: 4%;
    font-size: 14px;*/
    width: 80px;
    padding: 19px;
}
.Upvote{
    /* padding: 0 16px; */
}
.NewsText{
    /* font-size: 14px;
    padding: 0 16px;
    width: auto;
    position: relative;
    margin-bottom: 4px; */
    padding-left: 44px;
    padding-right: 5px;
}
.ElapsedText{
    font-size: 10.6667px;
    color: #828282;
    padding-right: 5px;
}
.Author{
    /* padding: 0 16px;
    width: 100%; */
    font-size: 10.6667px;
    color:black;
    padding-right: 5px;
}
.Url{
    color: #828282;
    font-size: 10.6667px;
    padding-right: 5px;
    /* padding: 0 16px;
    position: relative;
    margin-bottom: 4px;
    word-break: break-all;
    box-sizing: border-box; */
}
.HideLink{
    /* font-size: 10.6667px;
    padding: 0 16px;
    width: 100%;
    position: relative;
    margin-bottom: 4px; */
    font-size: 10.6667px;
    color:black

}
.innerContainer{
    display:flex;
    color: #696969;
    font-size: 10.6667px;
    /* text-decoration: none;
    font-family: Verdana,Geneva,sans-serif; */
    list-style: none;

}
.linkContainer{
    display:flex;
    padding: 0px 0 0px 5px;
    padding: 10px;
}

article:nth-child(even){
    background-color:silver; 
}
/* p{margin:0px;padding: 0px;font-family: Verdana,Geneva,sans-serif;} */
ul{margin:0px;padding: 0px;font-family: Verdana,Geneva,sans-serif;list-style: none;}
/* li{margin:0px;padding: 0px;font-family: Verdana,Geneva,sans-serif;list-style: none;} */